<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Films</title>
    <link rel="stylesheet" href="/style.css"></link>
  </head>
    <h1>
  <body>
    <li>
    <%= yield %>
    </li>
  </body>
    </h1>
</html>
